:root {
  --primary-color: #2a5d67;
  --secondary-color: #f2f2f2;
  --black-color: #1e1e1e;
  --light-primary-color: #3e7a8a;
  --light2-primary-color: #336877;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #3ea9c4;
  color: var(--secondary-color);
  /* font-family: "Courier New", Courier, monospace; */
}
/* -------------------------Nav------------------------------ */
button,
.sticky-header,
.nav-container,
.burger-menu {
  font-family: inherit;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 1000;
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-menu-mobile {
  display: block;
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu-mobile li a,
.printerIconButton,
.logoutIconButton,
.dropbtn {
  padding: 0.5rem 1rem;
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.nav-menu-mobile a,
.nav-menu a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropbtn,
.logoutIconButton,
.printerIconButton {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.profileIcon,
.logoutIconButton,
.printerIconButton {
  display: flex;
  font-size: 28px;
  width: 100%;
}
.printerIcon,
.logoutIcon,
.profileIcon,
.dropbtn {
  width: 100%;
  text-align: left;
}

.profileIcon a svg {
  height: 28px;
  width: 28px;
}

.profileIcon a {
  height: 28px;
}

.nav-menu-mobile li a {
  width: 100%;
  text-align: left;
}

@media (min-width: 768px) {
  .sticky-header {
    height: auto;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
  }

  .nav-container img {
    height: 60px;
    margin-left: 1rem;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin: 7.5px 0;
    padding: 0;
  }

  .nav-menu li a {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .nav-menu li:first-child {
    margin-right: auto;
    padding: 0;
    height: 60px;
  }

  .nav-menu li:first-child a {
    padding: 0;
  }

  .nav-menu li:last-child {
    margin-right: 1rem;
  }

  .dropdown,
  .printerIconButton,
  .printerIcon,
  .profileIcon,
  .logoutIconButton,
  .logoutIcon {
    width: fit-content;
  }

  .dropdown,
  .printerIcon,
  .logoutIcon {
    padding: 0;
  }

  .dropbtn {
    font-size: 14px;
  }

  .nav-menu a:hover {
    text-decoration: underline;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-width: 160px;
    padding-top: 20px;
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: var(--light-primary-color);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
}

@media (min-width: 1000px) {
  .nav-menu {
    gap: 1rem;
  }

  .nav-menu li a {
    font-size: 18px;
  }

  .dropbtn {
    font-size: 18px;
  }
}
/* -------------------Modal------------------------------ */
.modal-overlay {
  background: none;
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.modal-content {
  width: 90%;
  height: 75%;
  border-radius: 25px;
  background: var(--primary-color);
  color: white;
  padding: 25px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .modal-overlay {
    height: calc(100vh - 75px);
  }
}

@media (min-width: 1000px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
  }

  .modal-content {
    position: relative;
    height: 600px;
    width: 1000px;
    background: var(--primary-color);
    color: white;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 50px;
  }
}

/* -------------------landingPage------------------------------ */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* -------------------Table Camp list------------------------------ */
.Tabel {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

.Tabel tr {
  border-top: solid 1px var(--light-primary-color);
  border-bottom: solid 1px var(--light-primary-color);
}

.Tabel th,
.Tabel td {
  padding: 12px 10px;
}

.Tabel th:first-child,
.Tabel td:first-child {
  width: 140px;
  box-sizing: border-box;
}

#ParticipantsRow {
  text-align: center;
}

.Tabel th {
  font-weight: bold;
}

.Tabel a {
  color: #3498db;
  text-decoration: none;
}

.Tabel a:hover {
  text-decoration: underline;
}

/* -------------------Table Camp details ------------------------------ */

/* .camp-participants {
  font-size: 14px;
  margin-bottom: 10px;
} */

.camp-details {
  display: flex;
  flex-direction: column;
}

.camp-title {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.camp-leader,
.camp-date {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.camp-description,
.camp-remember {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tablewrapper {
  overflow-x: auto;
  width: 100%;
}
/* ------------------- Scrollbar ------------------------------ */
/* Height of the horizontal scrollbar */
.tablewrapper::-webkit-scrollbar {
  height: 8px;
}

/* Color of the scrollbar track */
.tablewrapper::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Style of the scrollbar thumb */
.tablewrapper::-webkit-scrollbar-thumb {
  background: var(--light-primary-color);
  border-radius: 4px;
}

.tablewrapper::-webkit-scrollbar-thumb:hover {
  background: var(--black-color);
}

/* ------------------- Table styling ------------------------------ */

.participants-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

.participants-table th,
.participants-table td {
  border: 1px solid var(--light-primary-color);
  text-align: center;
  min-width: 65px;
  max-width: 100px;
}

.participants-table th {
  padding: 8px;
  font-weight: bold;
}

.meals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
}
.meals span,
.meals input {
  flex: 1;
  text-align: center;
}

.participants-table th:first-child,
.participants-table td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--light2-primary-color);
  border-left: 0px;
  padding: 8px;
}

.participants-table th:last-child,
.participants-table td:last-child {
  border-right: 0px solid var(--light-primary-color);
}

.campButton {
  color: white;
  text-decoration: none;
}

button {
  max-width: 175px;
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--light-primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
